.product-img {
	height: 255px;
	object-position: center;
	@include mobile {
		height: 165px;
	}
}

.pagItem:hover {
	color: $gold;
	cursor: pointer;
}

.product-type-list a {
	color: $white;
	&:hover {
		color: $white;
		text-decoration: underline;
	}
}
